<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage | ERROR </title>
    <link rel="stylesheet" href="/assets/style/style.css" />
    <link rel="icon" type="image/x-icon" href="/assets/imgs/faver.png">
  </head>
  <body>
    <div class="container__er">
      <h1 class="error animation">{{.Status}} {{.ErrorMessage}}</h1>    
    </div>
  </body>
</html>
